.section-title h1{
    font-size:70px;
    font-family: 'Abril Fatface', cursive;
}
.section-title h2 {
  font-family: 'Abril Fatface', cursive;
}
p{
    font-size:14px;
    font-weight: 300;
}
.home-main{
  background-image: url("/src/siteImages/headerbg.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}
 /* ---------------- Responsive Media query start ------------ */
    /* Extra Small devices (below 576px) */
    @media (min-width: 320px) and (max-width: 575px) { 
      .section-title h1{
        font-size:40px;
      }
    }
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width:767px){ 
      .section-title h1{
        font-size:60px;
      }
    }

 /* ---------------- Responsive Media query end ------------ */