.logo{
    height:80px;
}
.main-button{
    background-image: linear-gradient(50deg,#1DD9B8, #2CB8F1)!important;
    color: #fff;
    border-radius: 15px 0 15px 0;
    transition:.5s;
}
.main-button:hover{    
    box-shadow: 0 0 10px 10px #d1c8ff;
}
/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
    display: none;
 }

 .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
 }